@inherits LayoutComponentBase

<PageTitle>LMS</PageTitle>


<div class="page">
    @*<aside class="sidebar">
        <NavMenu />
    </aside>*@
    <main>
        <!-- Main content -->
        <div class="top-row">
            <a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>
        </div>
        <article>
            @Body
        </article>
    </main>
</div>

